# EditorConfig is awesome: http://EditorConfig.org
# top-most EditorConfig file
root = true

# Unix-style newlines at the bottom of every file
[*]
end_of_line = lf
charset = utf-8

# Tab indentation
indent_style = space
indent_size = 4

# Make sure every file has a blank line at the end
insert_final_newline = true

# Remove any whitespace characters preceding newline characters
trim_trailing_whitespace = true

# Give operators breathing room, but not brackets
spaces_around_operators = true
spaces_around_brackets = false

[{Makefile,**.mk,go.mod,go.sum,*.go,.gitmodules}]
indent_style = tab

[*.{cson,yml,yaml}]
indent_style = space
indent_size = 2

[**/yamllint/config]
indent_style = space
indent_size = 2
