[alias]

# View abbreviated SHA, description, and history graph of the latest 20 commits
l = log --all --graph --abbrev-commit --decorate --format=oneline
l1 = log --all --graph --abbrev-commit --decorate --format=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an (%G?)>%Creset'
l2 = log --all --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
l3 = log --all --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
l4 = log --all --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'

# View the current working tree status
s = status

# Show the diff between the latest commit and the current state
d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"

# `git di $number` shows the diff between the state `$number` revisions ago and the current state
di = !"d() { git diff --patch-with-stat HEAD~$1; }; git diff-index --quiet HEAD -- || clear; d"

# Pull in remote changes for the current repository and all its submodules
p = !"git pull --recurse-submodules"

# Get the current branch name (not so useful in itself, but used in
# other aliases)
branch-name = !git rev-parse --abbrev-ref HEAD

# Push the current branch to the remote "origin", set it to track
# the upstream branch, and display the URL to use to submit a PR if in a
# GitHub-backed repository
publish = !sh -c 'git push -u origin $(git branch-name)' -

# Checkout a pull request from origin (of a github repository)
pr = !"pr() { git fetch origin pull/$1/head:pr-$1; git checkout pr-$1; }; pr"

# Clone a repository including all submodules
c = clone --recursive

# Add in patch mode
ap = add --patch

# Commit all changes
ca = !git add -A && git commit -av

# Switch to a branch, creating it if necessary
go = "!f() { git switch \"${1}\" 2> /dev/null || git switch --create \"${1}\"; }; f"

# Show verbose output about tags, branches or remotes
tags = tag -l
branches = branch -a
remotes = remote -v

# Amend the currently staged files to the latest commit
amend = commit --amend --reuse-message=HEAD

# Credit an author on the latest commit
credit = "!f() { git commit --amend --author \"$1 <$2>\" -C HEAD; }; f"

# Interactive rebase with the given number of latest commits
reb = "!r() { git rebase -i HEAD~$1; }; r"

# Find branches containing commit
fb = "!f() { git branch -a --contains $1; }; f"

# Find tags containing commit
ft = "!f() { git describe --always --contains $1; }; f"

# Find commits by source code
fc = "!f() { git log --full-history --pretty=format:'%C(yellow)%h	%Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short -S$1; }; f"

# Find commits by commit message
fm = "!f() { git log --full-history --pretty=format:'%C(yellow)%h	%Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short --grep=$1; }; f"

# Find commits by file
ff = "!f() { git log --full-history --pretty=format:'%C(yellow)%h	%Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short -- $1; }; f"

# Remove branches that have already been merged with the default branch
# a.k.a. ‘delete merged’
dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d; git remote -v update -p"

# List contributors with number of commits
contributors = shortlog --summary --numbered

unreleased = "!f() { git fetch --tags && git diff $(git tag | tail -n 1); }; f"
up = "!f() { git pull origin $(git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@') && git remote prune origin && git submodule update --init --recursive; }; f"
undo = !git reset HEAD~1 --mixed
undo-amended = !git reset --soft HEAD@{1}
top = !git log --format=format:%an | sort | uniq -c | sort -r | head -n 20

# from trevor bramble https://twitter.com/TrevorBramble/status/774292970681937920
alias=!git config -l | grep ^alias | cut -c 7- | sort

[apply]

# Detect whitespace errors when applying a patch
whitespace = fix

[core]

# Use custom `.gitignore` and `.gitattributes`
excludesfile = ~/.gitignore
attributesfile = ~/.gitattributes

# Use these hooks by default
hooksPath = ~/.git-hooks

# Treat spaces before tabs and all kinds of trailing whitespace as an error
# [default] trailing-space: looks for spaces at the end of a line
# [default] space-before-tab: looks for spaces before tabs at the beginning of a line
whitespace = space-before-tab,-indent-with-non-tab,trailing-space

# Make `git rebase` safer on OS X
# More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
trustctime = false
editor = vim

[color]

# Use colors in Git commands that are capable of colored output when
# outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
ui = auto

[color "branch"]

current = yellow reverse
local = yellow
remote = green

[color "diff"]

meta = yellow bold
frag = magenta bold # line info
old = red           # deletions
new = green         # additions

[color "status"]

added = yellow
changed = green
untracked = cyan

[diff]

# Detect copies as well as renames
renames = copies

[fetch]
# https://git-scm.com/docs/git-config#Documentation/git-config.txt-fetchprune
# Fetch will automatically behave as if the --prune option was given on the command line.
# https://git-scm.com/docs/git-fetch#Documentation/git-fetch.txt--p
# Before fetching, remove any remote-tracking references that no longer exist on the remote.
prune = true

# https://git-scm.com/docs/git-config#Documentation/git-config.txt-fetchprune
# If true, fetch will automatically behave as if the refs/tags/*:refs/tags/* refspec was provided when pruning, if not set already.
# https://git-scm.com/docs/git-fetch#Documentation/git-fetch.txt---prune-tags
# Before fetching, remove any local tags that no longer exist on the remote if --prune is enabled.
pruneTags = true

[help]

# Automatically correct and execute mistyped commands
autocorrect = 1

[merge]

# Include summaries of merged commits in newly created merge commit messages
log = true

[pull]

# Allow fast-forward pulls only
ff = only

[push]

# change to maching for machines with older versions of git 1.x.x
default = simple

[safe]

# Work with bare repositories specified via the top-level --git-dir command-line
# option, or the GIT_DIR environment variable
# Ref: https://git-scm.com/docs/git-config#Documentation/git-config.txt-safebareRepository
bareRepository = explicit

# Don't use unsecure protocols to access GitHub
[url "https://github.com/"]

insteadof = git://github.com/
insteadof = http://github.com/

# Don't use unsecure protocols to access GitHub Gists
[url "https://gist.github.com/"]

insteadof = git://gist.github.com/
insteadof = http://gist.github.com/

# Uncomment if you want fetch to also get all github pull requests, this is rather
# large on big repos.
#[remote "origin"]
#fetch = +refs/pull/*/head:refs/remotes/origin/pull/*

[commit]

gpgsign = false

[user]

email = ferrari.marco@gmail.com
name = Marco Ferrari

[github]

user = ferrarimarco

[gerrit]

# Set this to true to add a "Change-Id" to the commit message. Useful for Gerrit.
# To set this to true for a given repository, run the following command while the
# working directory is set to that repository:
# git config --bool gerrit.createChangeId "true"
createChangeId = false

[includeIf "gitdir/i:~/workspaces-work/"]

path = ~/.gitconfig-work

[includeIf "gitdir/i:~/workspaces*/"]

path = ~/.gitconfig-workspaces
