*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

*.un~
Session.vim
.netrwhist
*~

.uuid

default.profraw

# Ignore linting stuff
.lintr
super-linter.log

# Python venv
.env
