"*":
  core:
    disabledPackages: [
      "metrics"
    ]
    telemetryConsent: "no"
  editor: {}
  "exception-reporting":
    userId: "a8f8664a-1865-43ea-95b5-bac356e62799"
  welcome:
    showOnStartup: false
